<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-8  col-md-8 col-sm-8"><img src="../assets/img/logo.png" width="195" height="45"
        class="Logo"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col backcover">
      <div class="titleName">
        <h1>Welcome To ProjectWorld</h1>
      </div>
      <div class="titilecontain">
        <p>Students can take Help from here for their Academic mini projects and Assignments. This will Help all
          aspiring software engineering students mainly from Pune University.
          will provide material to your Computer science engineering and Information technology guys with Assignments
          and academic projects.
          We are now the most Loved website for Computer science engineering and Information technology
          projects<br>Resource on Internet.
        </p>
      </div>
      <div class="mediaframe">
        <img src="../../assets/img/Think1.png" height="450" />
      </div>
      <div class="titilebody">
        <p>
          It's an educational website, as you all know. ProjectWorld is an open source code project platform for
          students and developers. We are going to add many more new topics for the students. These important topics
          will be very helpful for needy students.
          There are numerous project websites, but ours is unique and provides the best user experience.Share your
          project idea with us and we will try to implement it.
          Upload your projects on our site. Projects are easily accessible on <label
            style="color :rgb(248, 140, 140);">Project</label><label style="color :rgb(239, 229, 229) ;">World</label>
          !! for students to
          submit to their colleges.We give you all the details of the project,
          from development to managing the project.
          Here you can get projects with proper documentation.
        </p>
        <p>
          We also provide the basic programmes of all programming languages to students. Source code zip file for Java,
          PHP, Python,.NET, JSP, ASP.NET, HTML, and CSS projects.
          These projects are very useful for BE, Btech, MCA, BCA, Computer Science,IT, MSc IT, and BSc IT students. We
          have a large collection of projects for students and developers.
          These programmes are very useful for students to learn the concept of programming languages. We will also
          provide the students with demo programs.so you can visit our site for more information.
        </p>
      </div>

    </div>
    <footer>
      <div class="footercontain">
        Copyright © 2022 ProjectWorld | All Rights Reserved
      </div>
      <div class="linksdemo">
        <ul>
          <li><img src="https://img.icons8.com/sf-black-filled/44/FFFFFF/instagram-new.png" /><a
              href="https://www.instagram.com/">Instagram </a></li>
          <li><img src="https://img.icons8.com/sf-black-filled/64/FFFFFF/facebook.png" height="44" width="44" /><a
              href="https://www.facebook.com"> Facebook </a></li>
          <li><img src="https://img.icons8.com/sf-regular/44/FFFFFF/google-logo.png" height="44" width="44" /><a
              href="https://www.google.com/"> Google </a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
