<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-8  col-md-8 col-sm-8"><img src="../assets/img/logo.png" width="195" height="45"
        class="Logo"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 backcover">
      <div class="titleName">
        <marquee>
          <h1>Meet Our Team</h1>
        </marquee>
      </div>
      <div class="row titilebody">
        <div class="col-lg-6 col-md-6 col-sm-6 profile mt-3">
          <img src="https://img.icons8.com/android/100/FFFFFF/user.png"/> <label>Software Engineer</label><br><label class="profilname">Profile
            1</label>
          <p><img src="https://img.icons8.com/android/100/FFFFFF/user.png"/><label>Software Engineer</label><br><label class="profilname">Profile
              2</label></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 profile mt-3">
          <img src="https://img.icons8.com/android/100/FFFFFF/user.png" /><label>Software Engineer</label><br><label class="profilname">Profile
            3</label>
          <p><img src="https://img.icons8.com/android/100/FFFFFF/user.png" /><label>Software Engineer</label><br><label class="profilname">Profile
              4</label></p>
        </div>
      </div>
    </div>
    <footer>
      <div class="footercontain">
        Copyright © 2022 ProjectWorld | All Rights Reserved
      </div>
      <div class="linksdemo">
        <ul>
          <li><img src="https://img.icons8.com/sf-black-filled/44/FFFFFF/instagram-new.png" /><a
              href="https://www.instagram.com/">Instagram </a></li>
          <li><img src="https://img.icons8.com/sf-black-filled/64/FFFFFF/facebook.png" height="44" width="44" /><a
              href="https://www.facebook.com"> Facebook </a></li>
          <li><img src="https://img.icons8.com/sf-regular/44/FFFFFF/google-logo.png" height="44" width="44" /><a
              href="https://www.google.com/"> Google </a></li>
        </ul>
      </div>
    </footer>
  </div>
