.titleName {
  color: whitesmoke;
  text-align: center;
  margin-top: 30px;
  font-size: x-large;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titilebody {
  color: rgba(0, 0, 0, 0.938);
  font-weight: 500;
  font-size: 25px;
  text-align: justify;
  height: 340px;
  margin-top: 50px;
  border: 1px solid whitesmoke;
  background-color: rgba(3, 0, 0, 0.399);
}
label {
  color: whitesmoke;
  text-align: justify;
  margin-left: 20px;
}
.profilname {
  margin: 15px 0px 5px 5px;
}
.postname {
  margin: 0px 0px 5px -50px;
}
