<div class="container-fluid" id="backcover">
  <div class="row" id="header">
    <div class="col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2"><img src="../assets/img/logo.png" width="195" height="45"
        class="Logo"></div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="container-fluid">
        <div class="row menu">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active"routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus" routerLinkActive="active" >About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="sidebar"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    </div>

  </div>
</div>
