<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 col-lg-8  col-md-8 col-sm-8"><img src="../assets/img/logo.png" width="195" height="45"
        class="Logo"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="sidebar"></div>
    <div class="col backcover">

        <div class="mb-3 mt-3">
          <label for="newPost" class="form-label">New Post -</label>
          <input type="text" class="form-control" id="newPost" aria-describedby="newPost" (keyup.enter)="createPost(title)" #title>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

        </div>

      <ul *ngFor="let post of posts index as i">
        <li *ngIf="i<5">
          Id :{{post.id | json}}<br>
          Title :{{post.title | json}}
        </li>
      </ul>

    </div>
    <footer>
      <div class="footercontain">
        Copyright © 2022 ProjectWorld | All Rights Reserved
      </div>
      <div class="linksdemo">
        <dl>
          <dt><img src="../../assets/img/instagram-100.png" height="40" width="40" class="linkspace" /><a
              href="https://www.instagram.com/">Instagram </a></dt>
          <dt><img src="../../assets/img/facebook-100.png" height="40" width="40" class="linkspace"/><a
              href="https://www.facebook.com"> Facebook </a></dt>
          <dt><img src="../../assets/img/google-100.png" height="40" width="40" class="linkspace" /><a
              href="https://www.google.com/"> Google </a></dt>
        </dl>
      </div>
    </footer>

  </div>
